Source: rocm-rocprim
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libgtest-dev,
 pkg-config,
 rocm-cmake,
 rocm-core,
 rocm-env,
 rocm-hip-on-rocclr-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/rocPRIM
Vcs-Browser: https://github.com/revyos-rocm/rocm-rocprim
Vcs-Git: https://github.com/revyos-rocm/rocm-rocprim.git

Package: rocm-rocprim-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-cmake,
 rocm-core,
 rocm-env,
 rocm-hip-on-rocclr-dev,
Description: ROCm Parallel Primitives - Development files
 rocPRIM is a header-only library that provides HIP parallel primitives. You
 can use this library to develop performant GPU-accelerated code on AMD ROCm
 platforms.
